.hero {
  display: flex;
  flex-direction: column;
}

.hero h1 {
  font-size: var(--text-5xl);
}

.hero p {
  font-size: var(--text-2xl);
  line-height: var(--text-2xl);
  max-width: 450px;
  margin-top: 1rem;
}

.hero__social-links {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 2rem;
  column-gap: 2rem;
  text-transform: uppercase;
}

.hero__social-links > li {
  margin-top: 0rem;
  color: var(--purple);
}

.hero__social-links img {
  width: 50px;
  height: 50px;
}

.hero__social-links img:hover {
  fill: var(--yellow);
}

.icon-white-mask {
  background-color: var(--white);
  border-radius: 50%;
}

.hero__skip-link {
  align-self: center;
  cursor: pointer;
  position: absolute;
  bottom: 2rem;
  border: 2px solid rgb(0, 0, 0, 0.4);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
}

.hero__skip-link svg {
  transition: opacity 0.2s ease-in-out;
  stroke: rgb(0, 0, 0, 0.4);
}

.intro {
  display: flex;
  font-weight: bold;
  font-size: 1.2rem;
}

.intro > img {
  width: 130px;
  padding-right: 30px;
}

@media screen and (max-width: 768px) {
  .hero__social-links {
    justify-content: center;
  }
  .hero p {
    font-size: 1.1rem;
    line-height: 1.2rem;
  }
  .intro > img {
    width: 130px;
    padding-right: 30px;
  }
}
