.tags > * {
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.tags {
  margin-top: 1rem;
  font-size: var(--text-sm);
  margin-bottom: 1rem;
}

.tags a {
  text-decoration: none;
  color: rgb(117, 117, 117);
}

.post-list__wrapper {
  max-width: 700px;
}

.post-list__heading {
  color: var(--color);
  font-size: var(--text-3xl);
  margin-bottom: 1rem;
}

.post-list {
  list-style: none;
}

.post-list__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 0rem;
  padding-top: 2rem;
  color: var(--charcoal);
}

.post-list__item:first-child {
  padding-top: 1rem;
}

.post-list__item:last-child {
}

.post-list__title {
  font-size: var(--text-2xl);
  line-height: var(--text-2xl) !important;
  margin-top: 0.5rem;
}

.post-list__title a {
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.1px;
  /* color: var(--charcoal); */
}

.post-list__title a:hover {
  text-decoration: underline;
}

.post-list__meta {
  font-size: var(--text-sm);
  margin-top: 0.5rem;
  /* color: var(--yellow); */
}

.post-list__meta > * + * {
  margin-left: 0.2rem;
}

.post-list__tags {
  text-decoration: none;
  font-size: var(--text-sm);
  margin-top: 0.5rem;
}

.post-list__tags a {
  text-decoration: none;
  color: rgb(117, 117, 117);
}

.post-list__tags a:hover {
  color: var(--accent);
}

.post-list__tags > * + * {
  margin-left: 1rem;
}

.post-list__excerpt {
  margin-top: 0.5rem;
  line-height: calc(var(--text-lg) * 1.1);
  /* color: var(--color); */
}

.post-list__read-more {
  width: fit-content;
  font-size: var(--text-lg);
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 0.5rem;
  text-decoration: none;
  color: var(--purple);
}

.post-list__read-more:hover {
  text-decoration: underline;
  color: var(--yellow);
}

.all-posts-link {
  margin-top: 4rem;
  width: fit-content;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-size: var(--text-lg);
  text-decoration: underline;
  color: var(--white);
  background: var(--purple);
  font-weight: 600;
  text-decoration: none;
  padding: 10px 28px;
}

.purple-button-link {
  background: var(--purple);
  color: var(--white);
  font-weight: 600;
  text-decoration: none;
  padding: 10px 28px;
}
