.post {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
}

.post > * + * {
}

.post__header h1,
h2 {
  color: var(--white);
  font-size: 2rem;
  line-height: 2rem;
}
.post__details {
  font-size: 0.9rem;
  color: var(--yellow);
}

.post__details > * + * {
  margin-left: 0.5rem;
}

.post__content {
  margin-top: 1rem;
  word-wrap: break-word;
}

.post__content p,
li {
  font-size: var(--text-lg);
  line-height: calc(var(--text-lg) * 1.1);
}

.post__aside {
  margin-top: 2rem;
}

.post__tags {
  opacity: 0.8;
  font-size: var(--text-sm);
}

.post__tags * + * {
  margin-left: 0.5rem;
}

.post__pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post__pagination > *:only-child {
  margin-right: auto;
  margin-left: auto;
}

.post__pagination a {
  display: flex;
  align-items: center;
}
.post__pagination span {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
