:root {
  --accent: #0074d9;
  --background: #121212;
  --color: #ddd;
  --green: #5affce;
  --yellow: #ffe55a;
  --red: #ff5a5a;
  --purple: #995aff;
  --blue: #2d6bff;
  --white: #ddd;
  --charcoal: #121212;
  --black: #000000;
}
