:root {
  --accent: #0074d9;
  --background: #fffffe;
  --background: black;
  --color: rgb(41, 41, 41);
  --color: white;
  --green: #5affce;
  --yellow: #ffe55a;
  --red: #ff5a5a;
  --purple: #995aff;
  --blue: #2d6bff;
  --white: #ffffff;
  --charcoal: #121212;
  --black: #000000;
}
