---
layout: base
---

<header class="hero">
  <div class="hero-content">
    <div class="intro">
      <img src="images/neume-icon-white.svg"/>{{ content | safe }}
    </div>

    {% if site.socialLinks %}
      <ul class="hero__social-links">
        {% for item in site.socialLinks %}
          {% set externalAttribute = '' %}

          {% if item.external %}
            {% set externalAttribute = 'target="_blank" rel="noopener noreferrer"' %}
          {% endif %}

          <li>
            <a href="{{ item.url | url }}" {{ externalAttribute | safe }}>
              <img class="icon-white-mask" src="images/{{item.text}}-icon.svg"/>
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

</header>

<section class="post-list__wrapper">

  {% set postslist = collections.posts | head(-10) %}
  {% include "posts-list.njk" %}

</section>

<a class="all-posts-link" href="{{ '/blog/' | url }}">View All Posts</a>